html, body, div{
    margin: 0;
    padding: 0;
}
textarea{
    margin-top: 10px;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

#div_principal{
    background: linear-gradient(180deg, rgba(17,30,84,1) 0%, rgba(56,116,251,0.8463760504201681) 41%, rgba(195,223,250,0.7819502801120448) 100%);
    padding:0 10%;

}

.row{
    padding: 0px;
    margin: 0px;
}
.col-sm-6{
    background-color: white;
    border-radius: 10px;
}

