html, body, div{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.video{
    border:3px solid rgba(3, 48, 180, 0.575);
    padding:10;
    margin:0;
    display: flex;
    justify-content: center;
    align-items:center;
}
video{
    padding:0;
    margin:0;
    border:2px solid blue;
}